.message {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    word-wrap: break-word;
}

.title {
    font-family: Consolas;
    color: #111;
    padding: 10px 10px 10px 0;
}

.time {
    font-size: 0.8em;
    color: #999;
}

